Confirm Message for Update Profile.
------------------------------------------------------------------------------------

Dear $name,                                                    $today

Your Update Profile is Successful.






-----------------------------------------------------------------------------------
															Best Regards,
																ORRS