* {
	margin: 0;
	padding: 0;
	outline: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility
}

div.wrapper {
  margin-top:  7px;
  width: 20%;
  height:auto;
  min-height:100%;
 /*  background-color:#052645; */
   background-color:#25383c;
 /*  top: 5px;
  position: relative; */
/* background:-moz-linear-gradient(100% 100% 360deg, #E7A82B, #5CB6C8 100%); */
/* background:-moz-linear-gradient(100% 100% 360deg, #FFFF00, #2D0DFF 0%); */
}

nav.vertical {
 /*  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15); */
  overflow: hidden;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:26px;
  /* height:100%; */
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }
/* ,
      nav.vertical > ul > li > a */
      nav.vertical > ul > li > label {
      	/* margin-top:2px; */
      	padding-top:15px;
      	 /* margin-bottom:2px; */
        background-color:#008080;
       /*  background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60)); */
       /*  border-bottom: 1px solid rgba(255,255,255,.1); */
        /* box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1); */
        color: rgb(255,255,255);
        display: block;
        font-size: .9rem;
        font-weight: bold;
        height: 35px;
        letter-spacing: 0rem;
        line-height: 0px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all 1.1s ease;
        
      	text-position:left;
      	float:left;
      	width:25%;
      }
      div.showhide{
      
        color: rgb(255,255,255);
        
        font-size: 1rem;
        font-weight: bold;
        height: 20px;
        letter-spacing: .1rem;
        line-height: 20px;
      /*   text-shadow: 0 1px 1px rgba(0,0,0,.1); */
        text-transform: uppercase;
        transition: all 1.1s ease;}
 nav.vertical > ul > li > p{
 padding: 8px;
/*  margin-top:2px;
 margin-bottom:2px; */
  /* background-color:#366b82; */
  /* background-color:#008080; */
   background-color:#008080;
 /* font-size: .65rem; */
 color: rgb(255,255,255);
        
      	
      	/*  border-bottom: 1px solid rgba(255,255,255,.1); */
        /* box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1); */
       /*  color:  #366b79; */
        display: block;
         font-family:Arial;
        font-size: 1.3rem;
        font-weight: bold;
        
        height: 35px;
        letter-spacing: .1rem;
        line-height: 5px;
        /* text-shadow: 0 5px 3px rgba(0,0,0,.3); */
        text-transform: uppercase;
        transition: all 1.1s ease;
        float:left;
        width:75%;
       
        }
        nav.vertical > ul > li > label:hover,nav.vertical > ul > li > p:hover
        nav.vertical > ul > li > a:hover {
         /* background-color: rgb(114, 51, 98); */
        /*  background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));  */
         cursor: pointer;
        }

       /*  nav.vertical > ul > li > label+ p + input {
          display: none;
          visability: hidden;
        } */
        
         nav.vertical > ul > li >   input {
          display: none;
          visability: hidden;
        }
           nav.vertical > ul > li > div {
            /* background-color:#ffffff; */
            color: #366b79;
            max-height: 0;
            overflow: hidden;
            transition: all 1.1s linear;
            
            
            color: rgb(255,255,255);
        display: block;
        font-size: .75rem;
        font-weight: 400;
       
        letter-spacing: .3rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
       /*  transition: all .1s ease; */
       float:left;
       width:100%;
       padding: 0px;
          } 

           /*  nav.vertical > ul > li > label+ p + input:checked + div {
              max-height: 500px;
            } */
 
 		nav.vertical > ul > li >  p +label+ input:checked + div {
              max-height: 500px;
           }
          nav.vertical > ul > li > div > ul {
             list-style-type: none;
            text-aling:left;
            padding: 0px;
          }

            nav.vertical > ul > li > div > ul > li > a {
             /* background-color:  #366b86; */
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: white;
             display: block;
             font-size: 1rem;
             padding: 1px 0;
             text-decoration: none;
             transition: all 1.1s linear;
             height: 30px;
             line-height: 30px;
             padding-left:15px;
             
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
               /*  background-color:#a9cce3; */
                 background-color:#92c7c7;
                color: #273746;
               /*  padding: 10px 0 10px 50px; */
              }
              /* 
              input[type="checkbox"]:checked + .label-for-check {
  font-weight: bold;
  display:none;
} */





.glyphicon {
  /* top: -8px; */
  display: block;
}
.glyphicon-asterisk,.glyphicon-flag{
	color:#C7C7C7;
  font-size:20px;
  font-weight: bold;
}
.glyphicon-icon {
    position: relative;
  /* top: 33px; */
  display: block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999;
}

.glyphicon-menu-right:before{
	color:#333;
	content: "\e258";
}