
table.body {
	min-width: 800px;
	align: center;
}



table.body tr:nth-child(even) {
	background-color: #C0D7E1;
}

#outer {
	width: 100%;
	text-align: center;
}

#inner {
	display: inline-block;
}





#buttonwto {
    background-color: #366b82;
    color: white;
    border: 2px solid #086A87; 
}